server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /position/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: api 
    static_configs:
      - targets:
          - localhost
        labels:
          job: api
          service: api
          __path__: /logs/*.log
